.leftNavColor{
    background-color: rgb(240, 240, 240);
    height: 880px;
    display: flex;
    justify-content: center;
}
.link {
    text-decoration: none;
    color: black;
    
  }
  
  .active {
    text-decoration: none;
    color: blue;
    
  }