.headerColor{
    background-color: rgb(240, 240, 240);
    height: 80px;
}
.headerText{
    text-align: end;
}


@media only screen and (min-width: 991px) and (max-width: 4050px) {
    .mobileNav{
        display: none;
    }
    }

@media only screen and (min-width: 360px) and (max-width: 991px) {
.logeHeader{
    display: none;
}
.logeHeader{
    display: none;
}
}

.ant-drawer-header {
    background-color: #fff !important;
    border-radius: 0;
  }
  
  .ant-drawer-title {
    color: black;
  }
  
  .ant-drawer-body {
    background-color: #fff !important;
    color:black;
    height: calc(100vh - 55px);
  }